SECRET_KEY=django-insecure-@60nq_&sd7(9cyp(4flgdqbkjvi03iaeum-%0d*und(6*$*yfz
DEBUG=True
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

FRONTEND_URL=http://localhost:3000
PASSWORD_RESET_TIMEOUT=3600
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=no-reply@truetrek.edu